<!doctype html>
<head>
    <meta charset="utf-8">

    <title>Assessment</title>
    <link rel="stylesheet" href="{{ asset('app/css/bootstrap.min.css') }}" />

</head>

<body>

{% block body %}

    {% block content %}{% endblock %}

    {% javascripts
        '@jquery_js'
        '@angular_js'
        '@bootstrap_js'
        output="js/libraries.js"
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% block js %}{% endblock %}
{% endblock %}
